.header {
  justify-content: space-between;
  align-items: center;
  height: 60px;
  display: flex;
  box-shadow: 2px 4px #0000000d;

  &__logo {
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0 50px;
    display: flex;
  }
}
